<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit your Message</title>
</head>
<body>
    <h3>Edit your Message </h3>
    <p>This Message was sent by <b><%= chat.from %></b> to <b><%= chat.to %></b>.</p>    
    <form action="/chats/<%= chat._id %>?_method=PUT" method="POST"> 
       <textarea name="msg"><%= chat.msg %></textarea> <br>
       <button>Send</button>
    </form>
</body>
</html>