body {
  margin-left: 20px;
  font-size: 0.8rem;
}

.chat {
  background-color: aliceblue;
  width: 15rem;
  height: 15rem;
  padding: 1.25rem;
  border-radius: 1rem;
  border: 2px solid red;
  display: inline-block;
  margin-bottom: 20px;
  margin-right: 1rem;
}

.msgbox {
  background-color: dodgerblue;
  border-radius: 1rem;
  padding: 0.75rem;
  color: white;
}
